<!DOCTYPE html>
<html>
    <head><title>Document</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <nav class="flex-container">
        <a href='/'>Acasă</a>|
        <a href='/chestionar'>Chestionar</a>|
        <a href='autentificare'>Autentificare</a>|
        <a href='VizualizareCos'>Cos de cumparaturi</a>|

    </nav>


</head>
<h1>Magazin de telefoane</h1>
    <body>
       
        <main>
            <%- body %>

        </main>
    </body>  
    <footer>
        <span>&copy;2024. Programare web-proiect2</span>
    </footer>
</html>