<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Rezultat Chestionar</title>
</head>
<body>
    <h1>Rezultat Chestionar</h1>
    <main>
     <p> Numarul de raspunsuri corecte:  <%= raspunsuri %></p>   
     <p>Autentificat ca : </p>
    
    </main>
</body>