h1 {
    font-family: cursive;
    text-align: center;
    font-size: 40px;
    color: green ;
    margin-bottom: 20px;
  }
  nav.flex-container>a {
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  #container{
    display: flexbox;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    background-color: aqua;

  }
  
  nav.flex-container>a:hover {
    background-color: snow;
    opacity: 0.4;
  }
  
  .flex-container {
    width: 100%;
    display: flex;
    background-color: #50C878;
    animation-name: change_color2;
    animation-duration: 7s;
    justify-content: center;
    margin-bottom: 60px;
  }
  
  .tabel_produse {
    background-color: 	#edf7fc;
    margin-bottom: 20px;
    margin-left: 25px;
    size: 100px;
  }

  body {
        background-color: lightgoldenrodyellow;
    }

  
  #Chestionar{

    margin-left: 22px;
    margin-right: 22px;
    background-color: lightcyan;
  }



  body {
    font-family: Arial, sans-serif;
    background-color:lightgoldenrodyellow;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 600px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

p {
    font-weight: bold;
    margin: 10px 0 5px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
}

input[type="radio"] {
    margin-right: 10px;
    color: pink;
}

input[type="submit"], button[type="submit"] {
    background-color: lightseagreen;
    color: white;
    border: none;
    padding: 20px 20px;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 16px;
}

input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    display: block;
    margin-top: 10px;
}




 .shopping-list {
  background: lightpink;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.shopping-list li {
  background: #f9f9f9;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}